@import "~normalize.css";

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
p,
button {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
